#ifndef CONSTANTS_H
#define CONSTANTS_H

const char *MQTT_ID = "presence_board_01";
const char *MQTT_SERVER = "server.example.com";
const int MQTT_PORT = 1883;
const char MQTT_USERNAME[16] = "user";
const char MQTT_PASSWORD[16] = "passwd";
const char *MQTT_TOPIC = "presence_board/in";
const char *AP_SSID = "Wifi SSID";
const char *AP_PASSWORD = "wifi pass";

// const char *MQTT_ID = "presence_board_01";
// const char *MQTT_SERVER = "192.168.1.10";
// const int MQTT_PORT = 1884;
// const char MQTT_USERNAME[16] = "smkthp";
// const char MQTT_PASSWORD[16] = "smkthp";
// const char *MQTT_TOPIC = "presence_board/in";
// const char *AP_SSID = "Kaleng Antariksa";
// const char *AP_PASSWORD = "20040809";

#endif
