<div id="form">
  <p class="mb-0">{{ wsStatus }}</p>
  <p><a href="/student/reg/end">End register</a></p>
  <div class="container">
    <h5>{{ formStatus }}</h5>
    <form
      class="row g-3 needs-validation"
      novalidate
      v-on:submit.prevent="saveStudent"
    >
      <div class="col-12">
        <label for="validationCustom01" class="form-label">RFID</label>
        <input class="form-control" v-model="student.rfid" disabled />
      </div>
      <div class="col-md-4" v-show="formInputReady">
        <label for="validationCustom01" class="form-label">Full Name</label>
        <input
          class="form-control"
          v-model="student.name"
          ref="elname"
          required
        />
      </div>
      <div class="col-md-4" v-show="formInputReady">
        <label for="validationCustom02" class="form-label">NIS</label>
        <input class="form-control" v-model="student.nis" required />
      </div>
      <div class="col-md-4" v-show="formInputReady">
        <label for="validationCustom02" class="form-label">Class</label>
        <input class="form-control" v-model="student.class" required />
      </div>

      <div
        class="col-12 d-flex justify-content-between"
        v-show="formInputReady"
      >
        <button class="btn btn-sm btn-primary" type="submit">
          Submit form
        </button>
        <button
          class="btn btn-sm btn-danger"
          type="button"
          v-on:click="resetForm"
        >
          Reset
        </button>
      </div>
    </form>
  </div>
</div>

<script src="/dist/student-reg.js" type="module"></script>
