<nav class="navbar navbar-expand navbar-dark bg-dark mb-2">
  <div class="nav navbar-nav">
    <a class="nav-item nav-link active" href="#"><%= process.env.APP_NAME %></a>
    <!-- <a class="nav-item nav-link" href="#">Home</a> -->
  </div>
</nav>
